<!--
-- @author 双料特工・钏钐钾
-- @description 登录
-- @createTime 2023-10-14
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="common/header::header(~{::title},~{::links},~{},~{})">
    <title>小尾巴——宠物百科</title>
    <link rel="stylesheet" media="screen" th:href="@{/css/index.css}">
</head>
<body>

<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
    <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="472" height="625"></canvas>
</div>
<div class="apTitle">Hello World</div>

<div th:replace="common/footer::footer(~{::script})">
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/index-app.js}"></script>
</div>
</body>
</html>